<h1>Editing inventory</h1>

<%= render "form", inventory: @inventory %>

<br>

<div>
  <%= link_to "Back to this #{@product_title}", product_path(@inventory.product_id.to_i) %>
  <%= button_to "Destroy this inventory", @inventory, method: :delete if logged_in?(:site_admin) %>
</div>
