<h1>Editing inventory</h1>

<%= render "form", inventory: @inventory %>

<br>

<div>
  <%= button_to "Destroy this inventory", @inventory, class: 'destroy-link' , method: :delete if logged_in?(:site_admin) %>
</div>

<br>

<div class='admin-link'>
  <%= link_to "Back to #{@product_title}", product_path(@inventory.product_id.to_i) %>
</div>