<h1>New inventory</h1>

<%= render "form", inventory: @inventory %>

<br>

<div class='admin-link'>
  <%= link_to "Back to #{@product_title}", product_path(@inventory.product_id.to_i) %>

  <br>
  <br>

  <%= link_to "Back to inventories", inventories_path %>
</div>
