@import '../application.scss';

.navbar-container {
  @include shared-mixin;
  grid-template-columns: .5fr 2fr .5fr;
  align-items:center;
  height:35px;
}

.navbar-element {
  padding: 0px 20px 0px 20px;
  font-size:18px;
  font-family:$default-font;
}

.navbar-element a {
  @include links;
}

.nav-logo {
  font-family:$primary-font;
  font-size:22px;
  text-align: center;
  a {
    color: $primary-color;
  }
}

.dropdown {
  cursor:pointer;
  text-align:right;
  text-align: center;
}


#btnControl:checked + label {
    color: $link-hover-cover;
  }

#dropdown-content {
  display: none;
  position: absolute;
  right:0;
  top:60px;
  text-align: center;
  font-size:12px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  height:100vh;
  background-color:$primary-color;
}

.nav-links {
  @include links;
  background-color:$primary-color;
  color:$secondary-color;
  font-family:$default-font;
  display:block;
  text-decoration:none;
  padding:15px;
  
  width:15vw;
}

.nav-links:hover {
  background-color: $faded-primary-color;
}

.current-user-name {
  text-align: center;
}

.hr-line { 
    margin: 25px 0;
    height: 1px;
    background: black;
    background: -webkit-gradient(linear, 0 0, 100% 0, from($primary-color), to($primary-color), color-stop(50%, black));
}