<div data-controller="nav" data-nav-display-class="display">
  <div class='navbar-container'>
    <div class='navbar-element nav-logo'><%= link_to "Safi's Collections", root_path %></div>
    <div class='navbar-element dropdown'>
      <input type="checkbox" id="btnControl"/>
      <label class="btn" for="btnControl">
        <div data-action="click->nav#dropdown">Menu</div>
      </label>
    </div>
  </div>
  <div data-nav-target="content" class='dropdown-content'>
      <% @categories.each do |category| %>
        <%= link_to category.title, category, class: 'nav-links' %>
      <% end %>
  </div>
</div>