/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Monda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

$primary-color: #9645BC;
$secondary-color: #FFFFFF;
$shared-padding: 15px;
$primary-font: 'Courgette', cursive;
$default-font: 'Lora', serif;
$faded-primary-color: #F2E8F7;
$link-hover-cover: black;

@mixin shared-mixin {
  background-color: $primary-color;
  color: $secondary-color;
  font-family: $primary-font;
  padding: $shared-padding;
  display:flex;
}

@mixin page-setup {
  display: flex;
  flex-direction:column; 
  align-items: center;
}

@mixin links {
  color: $secondary-color;
  text-decoration: none;
  
  &:hover {
    transition: 1s;
    color: $link-hover-cover;
  }
}


* {
  margin: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

#page-container {
  min-height: 100%;
  display:grid; 
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}

#content-container {
  @include page-setup;
  background-color: $faded-primary-color;
}

#content {
  @include page-setup;
  padding: 50px 0px 50px 0px; 
  width: 70vw;
  background-color: $secondary-color;
  flex-grow: 1;
}