<h1>Editing product</h1>

<%= render "form", product: @product %>

<br>

<%= button_to "Destroy this product", @product, class: 'destroy-link ', method: :delete if logged_in?(:site_admin) %>

<br>

<div class='admin-link'>
  <%= link_to "Back to #{@product.title}", @product %>
</div>